{% extends  'account/base.html' %}
{% block content %}
{% load static %}
{% load socialaccount %}

<!-- Masthead-->
<header class="masthead text-white text-center">
  <div class="container d-flex align-items-center flex-column">
  </div>
</div>

<h1> Sign Up </h1>

<p>Already have an account? <a href="{{ login_url }}">Sign In</a>.</p>

<body>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit"> Sign Up</button>
  </form> 

  <br><br><br><br><br><br><br><br><br><br><br>
</body>

{% endblock %}